<div id="about">
  <p>👋 Welcome to my place on the internet!</p>  

  <p>✍️ My writings can be found in the "Recent Posts" section below and in the <a href="{% link archive.html %}">complete archive</a>. Most of the writings are in English, some are in my native language. If you discover a post that is unreadable, it's probably because it's in Dutch.</p>

  <p>🎵 My all-time favorite tracks are combined in <a href="https://open.spotify.com/playlist/5e8XEYE7uOBsMfK33QAh0O?si=ly5ElOG7TYKgW_aTjPYTkQ" target="_blank">a Spotify playlist that's conveniently called Favorites</a>. All songs I discovered this year (both new and old) can be found in <a href="https://open.spotify.com/playlist/2QYLRzi5N8EvbDoYrT9fSR?si=k1We1MBYTEWMU9028_XxfQ" target="_blank">the Discoveries playlist.</a></p>
</div>
